{{#each exercises}}

<div class="card card-body mb-2 col-8 text-center" style="margin: 0 auto;">
   <p>{{muscleTarget}}</p>
    <h4>{{exercise}}</h4>
    <h4 style="text-align:left;">{{musclePrimary}}</h4>
    
    <a class="btn btn-dark btn-block col-4 mb-2" style="margin: 0 auto;" href="/exercises/edit/{{id}}">Edit</a>
    
    <form method="post" action="/exercises/{{id}}?_method=DELETE">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="btn btn-danger btn-block col-4" style="margin: 0 auto;" value="Delete">
    </form>
</div>

{{else}}

<p>No Exercises Listed</p>

{{/each}}